body {
  color: white;
  background-image: url("../images/stars.gif");
}
img {
  width: 200px;
  height: auto;
}
h1 {
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.3em;
  margin: 200px 100px;
}
main {
  text-align: center;
}

main h1 {
  font-size: 16pt;
  margin: 0;
}
