/* CSS Variables */
:root {
  /*Typeface*/
  --serif-typeface: "Averia Serif Libre", serif;
  --sans-serif-typeface: "Open Sans", sans-serif;
  /*Colors*/
  --primary: #c8ff00;
  --dark: #1d161f;
  --light: #e0e0e0;
  /*Drop Shadow*/
  --shadow: 0 2px 8px rgba(104, 104, 104, 2);
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--dark);
  text-align: center;
  font-family: var(--serif-typeface);
  color: var(--light);
  margin: 0px;
  padding: 0;
}
ul {
  padding-inline-start: 0px;
}
/* Section Styles*/
.anchor {
  font-size: 3em;
  letter-spacing: 0.7rem;
  text-align: center;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.about,
.portfolio,
.contact {
  padding: 30px 50px;
}
/* Top Navigation */
header {
  background-image: url("../images/Banner.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  margin-bottom: 10vh;
}
.nav {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  justify-content: center;
  list-style-type: none;
  /* position: absolute; */
  /* top: 10px; */
  /* padding-top: 0px; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  margin: 0;
  z-index: 3;
}
.nav li {
  color: var(--light);
  -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
  transition: color scale(0.5); /* For modern browsers */
}
.nav a {
  font-family: var(--serif-typeface), sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.3rem;
  text-align: center;
  text-decoration: none;
  color: var(--light);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 1), 0px 4px 13px rgba(0, 0, 0, 0.5),
    0px 8px 23px rgba(0, 0, 0, 0.2);
  /* font-weight: 300; */
  -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
  transition: color scale(0.5); /* For modern browsers */
}
.nav i {
  display: none;
}
.nav--button a:hover {
  color: var(--primary);
}
/* Logo & Title Section */
.logo img {
  width: auto;
  height: 200px;
  padding-top: 30px;
  padding-bottom: 0px;
}
header h1 {
  font-family: var(--serif-typeface);
  font-size: 2rem;
  letter-spacing: 0.7rem;
  color: var(--primary);
  text-shadow: 1px 2px 5px #3d3d3d;
  text-align: center;
  text-decoration: none;
  margin: 0px;
  padding-bottom: 10px;
  padding-top: 20px;
}
header h2 {
  font-family: var(--serif-typeface);
  font-size: 1.7em;
  letter-spacing: 0.15rem;
  color: var(--light);
  text-shadow: 1px 2px 5px #3d3d3d;
  text-align: center;
  text-decoration: none;
  margin: 0px;
  padding-bottom: 30px;
  padding-top: 0px;
}
/* Portfolio Section */
.gallery--container p {
  font-size: 2em;
  text-transform: uppercase;
  padding: 0 30px;
}
.gallery {
  width: 80%;
  margin: 0 auto;
}
.gallery img:hover {
  transform: scale(1.05);
}
.gallery .slick-dots {
  bottom: -5px;
}
.gallery .slick-dots li button:before {
  color: white;
}
.gallery .slick-dots li.slick-active button:before {
  color: white;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-initialized .slick-slide {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

figure {
  margin: 0;
  align-items: center;
}
.image--container {
  margin: 15px;
}
.image--container img {
  width: 100%;
  font-size: 1rem;
}
.image--container h1 {
  font-size: 1.1rem;
  white-space: initial;
  padding-top: 10px;
}
.image--container h2 {
  font-size: 1rem;
  white-space: initial;
}
/* Portfolio Modal Images */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  margin: auto;
  display: block;
  height: auto;
  max-width: 80vw;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
/* Portfolio Modal Animation */
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* About Section */
.about {
  margin-bottom: 60px;
}
.about .flex--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.about img {
  border-radius: 50%;
  width: 350px;

  object-fit: cover;
  padding: 30px;
}
.about p {
  text-indent: 2em;
  font-size: 1.2em;
  text-align: left;
  max-width: 500px;
}
/* Footer & Contact Section */
footer {
  display: inline-block;
  width: 100%;
  z-index: -1;
  margin: 0 auto;
  padding: 30px 0px;
  background-color: #332e4d;
}
#contact {
  padding-top: 50px;
}
footer p {
  text-align: center;
  position: static;
  font-size: 1.2rem;
  width: 100%;
  height: 30px;
  padding: 0px;
  padding-bottom: 50px;
}
footer a {
  display: none;
}
/* Responsive Media Queries */
@media only screen (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .anchor h1 {
    font-size: 1.6em;
  }
  .anchor p {
    width: 70%;
    font-size: 1.3rem;
  }
  .logo img {
    max-width: 25%;
    height: auto;
  }
  .logo h1 {
    font-size: 2em;
  }
  .gallery--container p {
    font-size: 1.8rem;
  }
  .image--container {
    flex: 50%;
    max-width: 60%;
  }
  .image--container img {
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
  }
}
@media screen and (max-width: 600px) {
  .about .flex--container {
    display: block;
  }
  .about img {
    width: 90%;
  }
  .anchor h1 {
    font-size: 30pt;
  }
  .anchor p {
    font-size: 1.1rem;
    width: 80%;
  }
  /* Before Responsive Top Nav */
  .nav {
    position: fixed;
  }
  .nav a {
    display: none;
  }
  .nav .icon {
    display: block;
    padding-right: 0;
    margin-right: auto;
  }
  .logo img {
    max-width: 35%;
    height: auto;
  }
  .logo h1 {
    padding: 20px 30px;
    font-size: 1.6em;
  }
  .logo h2 {
    font-size: 1.5em;
  }
  .image--container {
    flex: 100%;
    max-width: 80%;
  }
  .image--container h1 {
    font-size: 1.5rem;
  }
  .image--container h2 {
    font-size: 1.1rem;
  }
}
/* Nav Resonsive Nav Queries ONLY */
@media screen and (max-width: 600px) {
  header {
    margin-bottom: 0px;
  }
  .nav.responsive {
    display: block;
    position: fixed;
    width: 100%;
    padding-top: 30px;
    top: 0px;
    transform: 0px;
    z-index: 2;
    background-color: black;
  }
  .nav.responsive .icon {
    position: absolute;
    top: 10px;
    right: -35vw;
  }
  .nav.responsive a {
    display: block;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .nav i {
    display: block;
    position: fixed;
    right: -1vw;
    top: 12px;
    font-size: 1.5em;
    padding-top: 20px;
    padding-right: 30px;
  }
  .nav.responsive i {
    display: block;
    top: 0px;
    margin: 0;
    padding-top: 30px;
    padding-right: 30px;
  }
}
/* Small Browser */
@media screen and (max-width: 400px) {
  .about,
  .portfolio,
  .contact {
    padding: 5px 20px;
  }
  .anchor {
    font-size: 1.8em;
    letter-spacing: 0.4em;
  }
  .gallery--container p {
    font-size: 1em;
  }
  .logo img {
    max-width: 150px;
  }
  .image--container h2 {
    font-size: 0.8rem;
  }
  .about p {
    font-size: 1.4em;
  }
  .footer p {
    font-size: 110%;
  }
}
