/* CSS Variables */
:root {
  /*Typeface*/
  --serif-typeface: "Averia Serif Libre", serif;
  --sans-serif-typeface: "Open Sans", sans-serif;
  /*Colors*/
  --primary: #c8ff00;
  --dark: #1d161f;
  --light: #e0e0e0;
  /*Drop Shadow*/
  --shadow: 0 2px 8px rgba(104, 104, 104, 2);
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--dark);
  text-align: center;
  font-family: var(--serif-typeface);
  color: var(--light);
  margin: 0px;
  padding: 0;
}
/* Section Styles*/
.anchor {
  font-size: 3em;
  letter-spacing: 0.7rem;
  text-align: center;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.about,
.portfolio,
.contact {
  padding: 30px 50px;
}
/* Top Navigation */
header {
  background-image: url("../images/Banner.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 10vh;
}
.nav {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  justify-content: center;
  list-style-type: none;
  margin: auto;
  padding: 30px;
}
.nav li {
  margin: 0;
  color: var(--light);
  -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
  transition: color scale(0.5); /* For modern browsers */
}
.nav a {
  font-family: var(--serif-typeface), sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.3rem;
  text-align: center;
  text-decoration: none;
  color: var(--light);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 1), 0px 4px 13px rgba(0, 0, 0, 0.5),
    0px 8px 23px rgba(0, 0, 0, 0.2);
  /* font-weight: 300; */
  -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
  transition: color scale(0.5); /* For modern browsers */
}
.nav i {
  display: none;
}
.nav--button a:hover {
  color: var(--primary);
}
/* Logo & Title Section */
.logo img {
  width: auto;
  height: 200px;
  padding-top: 0px;
  padding-bottom: 0px;
}
header h1 {
  font-family: var(--serif-typeface);
  font-size: 2rem;
  letter-spacing: 0.7rem;
  color: var(--primary);
  text-shadow: 1px 2px 5px #3d3d3d;
  text-align: center;
  text-decoration: none;
  margin: 0px;
  padding-bottom: 10px;
  padding-top: 20px;
}
header h2 {
  font-family: var(--serif-typeface);
  font-size: 1.7em;
  letter-spacing: 0.15rem;
  color: var(--light);
  text-shadow: 1px 2px 5px #3d3d3d;
  text-align: center;
  text-decoration: none;
  margin: 0px;
  padding-bottom: 30px;
  padding-top: 0px;
}
/* Portfolio Section */
.gallery--container p {
  font-size: 2em;
  text-transform: lowercase;
  padding: 0 30px;
}
.gallery {
  width: 80%;
  margin: 0 auto;
}
.gallery img:hover {
  transform: scale(1.05);
}
.gallery .slick-dots {
  bottom: 10px;
}
.gallery .slick-dots li button:before {
  color: white;
}
.gallery .slick-dots li.slick-active button:before {
  color: white;
}
figure {
  margin: 0;
}
.image--container {
  display: inline-block;
  flex: 25%;
  max-width: 25%;
  margin: 15px;
}
.image--container img {
  width: 100%;
  font-size: 1rem;
}
.image--container h1 {
  padding-top: 10px;
  white-space: initial;
  font-size: 1.1rem;
}
.image--container h2 {
  white-space: initial;
  font-size: 1rem;
}

/* Portfolio Modal Images */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}
.modal-content {
  margin: auto;
  display: block;
  height: 70vh;
  max-width: 800px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
/* Portfolio Modal Animation */
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* About Section */
.portrait--container {
  flex-shrink: 1;
}
.about .flex--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* flex: 50%; */
  /* justify-content: space-between; */
}
.about img {
  width: 300px;
  height: 100%;
  object-fit: cover;
  /* flex-grow:0;
  flex-shrink:0; */
}
.about p {
  text-indent: 2em;
  font-size: 1.2em;
  text-align: left;
  max-width: 500px;
}
/* Footer & Contact Section */
footer {
  display: inline-block;
  width: 100%;
  z-index: -1;
  margin: 0 auto;
  padding: 0;
  background-color: #302a3b;
  padding-bottom: 10px;
}
#contact {
  padding-top: 50px;
}
footer p {
  text-align: center;
  position: static;
  font-size: 1.2rem;
  padding: 0px;
  padding-bottom: 50px;
  width: 100%;
  height: 30px;
}
input[type="text"],
select,
textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type="submit"] {
  font-family: "Open Sans", sans-serif;
  background-color: #a2cf00;
  color: var(--light);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #648000;
}
.contact--form {
  width: 100%;
  border-radius: 5px;
  padding-top: 0;
  padding-left: 20%;
  padding-right: 20%;
  margin: 0 auto;
}
/* Responsive Media Queries */
@media only screen and (max-width: 800px) {
  body {
    background-size: 900px, 400px;
  }
  .anchor h1 {
    font-size: 1.6rem;
  }
  .anchor p {
    width: 70%;
    font-size: 1.3rem;
  }
  .logo img {
    max-width: 25%;
    height: auto;
  }
  .logo h1 {
    font-size: 2em;
  }
  .gallery--container p {
    font-size: 1.3rem;
  }
  .image--container {
    flex: 50%;
    max-width: 60%;
  }
  .image--container img {
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
  }
  .contact--form {
    border-radius: 5px;
    padding: 10vw;
  }
}
@media screen and (max-width: 600px) {
  .image--container {
    flex: 100%;
    max-width: 80%;
  }
  .about img {
    width: 60%;
  }
  .anchor p {
    font-size: 1.1rem;
    width: 80%;
  }
  /* Before Responsive Top Nav */
  .nav a {
    display: none;
  }
  .nav .icon {
    display: block;
    padding-right: 10px;
    margin-right: auto;
  }
  .logo img {
    max-width: 35%;
    height: auto;
  }
  .logo h1 {
    padding: 20px 30px;
    font-size: 1.6em;
  }
  .logo h2 {
    font-size: 1.5em;
  }
  .image--container h1 {
    font-size: 1.1rem;
  }
  .image--container h2 {
    font-size: 1rem;
  }
  .about .flex--container {
    display: block;
  }
}
/* Nav Resonsive Nav Queries ONLY */
@media screen and (max-width: 600px) {
  .nav.responsive {
    display: block;
    position: fixed;
    width: 100%;
    justify-content: center;
    text-align: center;
    left: 0vw;
    padding-bottom: 0;
    z-index: 2;
    background-color: black;
  }

  .nav.responsive .icon {
    position: absolute;
    right: -35vw;
    top: 10px;
  }
  .nav.responsive a {
    display: block;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .nav i {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    font-size: 1em;
    float: right;
    padding-top: 30px;
    padding-right: 30px;
  }
  .nav.responsive i {
    display: block;
    float: right;

    padding-top: 30px;
    padding-right: 30px;
    margin: 0;
  }
}
/* Small Browser */
@media screen and (max-width: 400px) {
  .about,
  .portfolio,
  .contact {
    padding: 5px 30px;
  }
  .logo img {
    max-width: 100px;
  }
  .image--container h2 {
    font-size: 0.8rem;
  }
  .about p {
    font-size: 1em;
  }
}
/* Mobile Styling */
@media screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  header h1 {
    font-size: 2rem;
  }
  header h2 {
    font-size: 1rem;
  }
  .gallery--container p {
    font-size: 2rem;
  }
  .about img {
    width: 100%;
  }
  .anchor {
    font-size: 2.2em;
  }

  .anchor p {
    font-size: 1rem;
    width: 80%;
  }
  /* Before Responsive Top Nav */
  .nav a {
    font-size: 1em;
    display: none;
  }
  .nav .icon {
    display: block;
    padding-right: 10px;
    margin-right: auto;
  }
  .nav i {
    display: block;
    transform: scale(2.5, 2.5);
    position: fixed;
    right: 0;
    font-size: 1em;
    top: 0;
    float: right;
    padding-top: 20px;
    padding-right: 15px;
  }
  .logo img {
    max-width: 35%;
    height: auto;
  }
  .image--container h1 {
    font-size: 1em;
  }
  .image--container h2 {
    font-size: 1em;
  }
  .footer p {
    font-size: 1.2em;
    padding-bottom: 3px;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .nav.responsive {
    position: fixed;
    width: 100vw;
    justify-content: center;
    padding-bottom: 0;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    display: flex;
    justify-content: center;
    font-size: 2em;
  }
  .nav.responsive i {
    display: block;
    float: right;
    font-size: 0.5em;
    padding-top: 20px;
    padding-right: 15px;
    margin: 0;
  }
}
